.job-offert__list {
  min-height: 50vh;
  overflow-y: scroll;
  padding: 8px;
}

.job-offert__detail {
  padding: 32px;

  .header {
    border-radius: 65px;
    height: 130px;
    background-position: 53% 32%;
    margin-bottom: 34px;
    background-size: cover;
  }
  .description {
    margin-top: 16px;
    display: block;
  }
  .ant-avatar {
    position: absolute;
  }
}

.job-offert__jobs-list {
  padding: 0 24px;
}
