.home-header{
  height: 66vh;
  background-position-y: -320px!important;
  background-repeat: no-repeat!important;
  background-size:cover!important;
  .home-header__input-container{
    background: #0000008a;
    padding: 32px;
    min-height: 280px;
    border-radius: 20px;
    margin-top: 23vh;
  }
}

.home-header{
  .ant-typography{
    color:white
  }
}

