div.home-header{
  height: 66vh;
  background-position-y: -320px!important;
  background-repeat: no-repeat;
  background-size:cover;
  .home-header__input-container{
    background: #0000008a;
    padding: 32px;
    min-height: 280px;
    border-radius: 20px;
    margin-top: 23vh;
  }
}

.home-header{
  .ant-typography{
    color:white
  }
}


.home--job-offert{
  max-height: 220px;
  min-height: 220px;
  display: grid;
  overflow: hidden;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;

  .action{
    background-position: center center;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  .job-offert__description{
    padding: 16px 8px;
  }
}

.home--ranking{
  .star-container{
    margin-bottom: 8px;
    span{
      margin-right:4px;
    }
  }
}


.delete-user{
  position:fixed;
  bottom:20px;
  right: 20px;
}


@media @phone-down {
  div.home-header{
    height: 100vh;
    background-position: 86% 110%!important;
    .home-header__input-container{
      padding: 16px;
      margin-top: 46vh;
      border-radius: 0;
    }
  }
  h1.ant-typography{
    font-size:24px;
    text-align: left;
  }
  .home--job-offert{

  }
}

