.profile-company__jobs{
  .title {
    margin-bottom:24px;
    padding:8px;
    background: #001628;
    border-radius: 5px;
    .ant-typography{
      color: #fff;
    }
  }
  .list-job-container{
    display:flex;
    flex-direction: column;
    margin-bottom: 24px;
    .ant-typography{
      padding-left:4px;
      margin-bottom:8px;
    }
  }
}