.card-driver {
  .ant-card-meta-title {
    margin-bottom: 0;
    color: #e73540;
  }
  .card {
    flex: 1 0 auto;
    height: 500px;
  }
  .ant-card-meta {
    height: 80px;
  }
  .ant-card-cover {
    height: 258px;
    img {
      object-fit: cover;
    }
  }
  .rating {
    color: #e73540;
    margin-top: 30px;
    text-align: center;
  }
}

.card-driver--dark {
  .ant-card-cover {
    height: 204px;
    img {
      object-fit: cover;
    }
  }
  .ant-card {
    background: transparent;
  }
}
