.footer-component{
  background:@primary-color;
  min-height: 200px;
  padding-top: 32px;
  padding-bottom: 16px;
}

.footer-component{
  .ant-typography{
    color:#fff;
  }
  .footer-component__contact-data{
    display:flex;
    flex-direction:column;
  }
}