.ant-btn {
  border-radius: 5px;
}

.ant-btn-secondary {
  border-color: @primary-color;
}

.ant-btn-lg {
  font-size: 12px;
}

.ant-form-item-label>label {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 38px !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

.site-tag-plus {
  background: #fff;
  border-style: dashed;
}

.edit-tag {
  user-select: none;
}

.tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}

[data-theme="dark"] .site-tag-plus {
  background: transparent;
  border-style: dashed;
}

h1.ant-typography, 
h2.ant-typography, 
h3.ant-typography, 
h4.ant-typography, 
h4.ant-typography {
  font-weight: 300;
}

.ant-pagination{
  display:flex;
  justify-content: center;
}

