

.card-job-dstk-lg{
  width: 100%;
  margin-top:8px;
  margin-bottom: 16px;
  //custom antd card styles
  .ant-card{
    box-shadow: 0 1px 20px 8px #0000001a;
    padding:0;
  }
  
  .ant-card-body{
    padding:0;
  }

  .ant-card-cover{
    max-height: 200px;
    img{
      object-fit: cover;
      height: 200px;
    }
  }
}

.card-job-dstk-lg__header{
  display:flex;
  border-bottom: 1px solid rgb(218, 218, 218);
  margin-bottom: 8px;
  padding:24px;
  justify-content:space-between;
}

.card-job-dstk-lg__header__title{
  h4{
    font-weight: 600;
  }
}

.card-job-dstk-lg__header__company{
  display:flex;
  align-items:center;
  align-content: center;
  .ant-avatar{
    background: rgb(218, 218, 218);
    margin-right: 16px;
  }
  p{
    font-weight: 600;
    color:  @primary-color;
  }
}

.card-job-dstk-lg__detail{
  display: grid;
  grid-template-columns: 70% 20%;
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: center;
  padding:14px 24px 24px 24px 
}