@import "../../styles/settings/media-query.less";


.home-header{
  height: 55vh;
  background-position-y: -320px!important;
  background-repeat: no-repeat;
  background-size:cover;
  .home-header__input-container{
    background: #0000008a;
    padding: 32px;
    border-radius: 20px;
    margin-top: 23vh;
  }
}

.home-header{
  .ant-typography{
    color:white
  }
}




.home--ranking{
  .ant-card-meta-description{
    color: #fff;
    text-align: center;
  }
  .ant-card-meta-title{
    color: #fff;
    text-align: center;

  }
  .star-container{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    .anticon-star{
color: #E73540;    }
    span{
      margin-right:4px;
      color:#fff
    }
  }
}


.delete-user{
  position:fixed;
  bottom:20px;
  right: 20px;
}


@media @phone-down {
  div.home-header{
    height: 100vh;
    background-position: 86% 110%!important;
    .home-header__input-container{
      padding: 16px;
      margin-top: 46vh;
      border-radius: 0;
    }
  }
  h1.ant-typography{
    font-size:24px;
    text-align: left;
  }

}


.home-header {
  .ant-typography {
    color: white;
  }
}

.cardCarousel {
  width: 260px;
  margin-top: 24;
}

.home--ranking {
  margin: 10px;
  .ant-card-cover{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }
  .ant-card-hoverable {
    cursor: default;
  }

  .star-container {
    margin-bottom: 8px;
  }
}

.home__jobs-list{
  margin-bottom: 20vh;
  .ant-list-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
  @media @phone-down {
    .ant-list-items{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 24px;
      padding:16px;
    }
  }
}

.delete-user {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media @phone-down {
  .cardCarousel {
    margin-left: 70px !important;
  }
  div.home-header {
    height: 100vh;
    background-position: 86% 110% !important;
    .home-header__input-container {
      padding: 16px;
      margin-top: 46vh;
      border-radius: 0;
    }
  }
  h1.ant-typography {
    font-size: 24px;
    text-align: left;
  }
}



.services-list__container{
  .ant-card{
    overflow: hidden;
  }
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}


.home__services{
  margin-bottom: 20vh;
  .slick-slide{
    padding:24px
  }
  .ant-carousel .slick-dots-bottom {
    bottom: -45px;
  }
  .slick-dots {
    li{
      button{
        width:16px;
        height:16px;
        border-radius: 50%;
        background: #ff2b39;
      }
    }
    .slick-active{
      button{
        width:40px;
        height:16px;
        border-radius: 20px;
        width:16px;
        height:16px;
        border-radius: 50%;
        background: #ff2b39!important;
      }
    
    }
  }
}

.home__ranking{
  margin-bottom: 20vh;
}


.home__title{

  text-align: center;
  margin-bottom: 36px;
  h2{
    font-weight: 300;
  }
  span{
    font-weight: 300;
    font-size: 24px;
    max-width: 500px;
    display: block;
    margin: auto;
  }
}

.home__title--dark{
  h2{
    font-weight: 300;
    color:#fff;
  }
  span{
    color:#fff;
  }
}