@import "../../styles/settings/media-query.less";

.home-header {
  .ant-typography {
    color: white;
  }
}

.cardCarousel {
  width: 260px;
  margin-top: 24;
}

.home--ranking {
  .ant-card-cover{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }
  .ant-card-hoverable {
    cursor: default;
  }

  .star-container {
    margin-bottom: 8px;
  }
}

.home__jobs-list{
  .ant-list-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
  }
}

.delete-user {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media @phone-down {
  .cardCarousel {
    margin-left: 70px !important;
  }
  div.home-header {
    height: 100vh;
    background-position: 86% 110% !important;
    .home-header__input-container {
      padding: 16px;
      margin-top: 46vh;
      border-radius: 0;
    }
  }
  h1.ant-typography {
    font-size: 24px;
    text-align: left;
  }
}


