.list-drivers {
  .title {
    margin: 0;
  }

  .search-input {
    width: 300px;
  }
  .select-input {
    width: 240px;
  }

  .card-driver {
    .ant-card-meta-title {
      margin-bottom: 0;
      color: #e73540;
    }
    .card {
      flex: 1 0 auto;
    }

    .rating {
      color: #e73540;
      margin-top: 30px;
    }
  }

  .go-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #e73540;
    font-weight: bold;

    span {
      margin-left: 5px;
    }
  }
}

.space-rows {
  margin: 15px 0;
}

.details-drawer {
  .profile-img {
    margin: 15px 0;
    height: 180px;
  }

  .fullname {
    margin: 0;
  }

  .rating {
    color: #e73540;
  }

  .details-column {
    margin: 5px 0;
    label {
      text-transform: capitalize;
    }
  }
  .buttons-experience {
    margin: 5px 0;

    button {
      width: 100%;
      font-size: 14px;
    }
  }
}

.footer-drawer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
