@wide-screen-down: ~"(max-width: 1199px)";
@desktop-down: ~"(max-width: 991px)";
@tablet-down: ~"(max-width: 767px)";
@phone-down: ~"(max-width: 480px)";
@small-phone-down: ~"(max-width: 320px)";

.header-component {
  background: white;
  border-bottom: 1px solid rgb(240, 240, 240);
  .header-component--logo{
  img {
    height: 50px;
  }
}
  .ant-avatar-lg{
    width: 32px;
    height: 32px;
    margin-left: 5px;
  }
}


.footer-component {
  background: @primary-color;
  min-height: 200px;
  padding-top: 32px;
  padding-bottom: 16px;
}

.footer-component {
  .ant-typography {
    color: #fff;
  }
  .footer-component__contact-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media @phone-down{
  .header-component{
    padding: 0 10px;
    .header-component--logo{
      width: 140px;
      height: auto;
      img {
        width: 100%;
        height: auto;
        margin-left: 10px;
      }
    }
  }
}





@media @phone-down {
  .ant-layout-footer{
    padding: 30px 30px;
  }

  h4{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .footer-component__contact-data {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 16px;
    span{
      font-size: 12px;
      font-weight: normal;
    }
  }
  .footer-component__img-logo{
    width: 60%;
    height: 50px;
    margin: 5px auto 25px auto;
  }
}
